body * {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    text-align: center;
    color: #000f08;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.oscuro {
    background: #000f08;
    color: #ffffff;
}

.icono {
    width: 2rem;
    filter: invert(1);
}
nav {
    text-align: left;
    padding: 1.25rem 4rem;
    position: fixed;
    width: 100vw;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin: 0 1em;
    vertical-align: middle;

}
header {
    display: block;
}

h1 {
    font-weight: 800;
    font-size: 3.75em;
    margin-bottom: 0.25em;
}

section {
    display: flex;
    flex-direction: row;
}

section, footer {
    margin-top: 75px;
}

.cajavacia {
    width: 25%
}

.cajatexto {
    text-align: justify;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h2 {
    font-weight: 700;
    font-size: 2.5em;
}

footer {
    padding: 50px;
}

